customtkinter==5.2.1
packaging==23.2
shiv==1.0.4
PyWinCtl==0.3
opencv-python==4.12.0.88
pillow
cv2_enumerate_cameras==1.3.0

pycaw==20230407; sys_platform == 'win32'
pyalsaaudio==0.10.0; sys_platform == 'linux'
